body {
    margin: 0;
}

header {
    background: #abcdfa;
    height: 70px;
    position: relative;
    overflow: hidden;
}
header h2 {
    text-align: center;
    margin: 0 auto;
    padding: 13px;
    font-size: 32px;
    font-weight: bold;
    float: left;
    position: absolute;
    width: 100%;
}
header h2 a {
    text-decoration: none;
    color: #000;
}

.personalinfo {
    float: right;
    width: 200px;
    height: 100%;
    position: relative;
    color: #333;
}
.personalname {
    float: left;
    width: 100px;
    bottom: 0;
    position: absolute;
    text-align: right;
    color: #333;
}
.personalimg{
    padding-top: 5px;
    float: right;
    height: 60px;
    width: 60px;
    position: absolute;
    right: 0;
}
.personalimg img {
    height: 100%;
    width: 100%;
}

.main {
    margin: 20px auto;
    width: 980px;
    overflow: hidden;
    z-index: 3;
}

.sidebar {
    float: left;
    width: 400px;
    height: 400px;
    margin-right: 30px;
}

.rankingtab {
    width: 33.33%;
    height: 30px;
    background: #f4f4f4;
    float: left;
    font-size: 16px;
    border-top-right-radius: 10px;
}

.ranking table {
    width: 100%;
    background: #f9f9f9;
    border: 1px dotted #ccc;
    border-top: none;
    border-bottom: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ranking table tbody tr:nth-child(2n+1) {
    background: #f1f1f1;
}

.ranking table th,td {
    border: none;
    width: 25%;
    border-bottom: 1px dotted #ccc;
}


.ranking table th {
    font-size: 12px;
}
.ranking table td {
    color: #333;
}

td.pos {
    text-align: center;
    color: #555;
}
td.name {
    text-align: center;
    color: #555;
}
td.rap {
    text-align: right;
    padding-right: 5px;
}
td.mistype{
    text-align: right;
    padding-right: 5px;
}


.mainarea {
    position: relative;
    overflow: hidden;
}
.layer1 {
    position: relative;
    width: 100%;
    height: 200px;
    float: left;
}

.mainsection .title {
    margin: 10px;
}
.raptime {
    margin: 10px;
    text-align: right;
}

.running-line {
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, #ffffff 50%, #f1f1f1);
    background: -moz-linear-gradient(to bottom, #ffffff 50%, #f1f1f1);
    background: -webkit-linear-gradient(to bottom, #ffffff 50%, #f1f1f1);
}
.running-car {
    position: absolute;
    height: 40px;
    width: 40px;
    /* png横反転 */
    transform: scale(-1, 1);
}

.finished-panel {
    width: 30%;
    height: 150px;
    background-color: rgba(256, 256, 256, 1.0);
    color: #333;
    z-index: 5;
    margin: 0 auto;
    position: absolute;
    display: none;
}

.finished-panel-cover {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 4;
}

.typearea {
    width: 100%;
    border: none;
    background: #fcc2;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 30px;
    top: 0;
    position: absolute;
    z-index: 3;
    box-sizing: border-box;
    color: transparent;
    text-shadow: 0 0 0 #0000cc;
}
.showarea {
    width: 100%;
    border: none;
    background: #cfc2;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 30px;
    top: 0;
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
}
.btn {
    width: 80px;
    height: 40px;
    text-align: center;
    background: #333;
    color: #f6f6f6;
    border: none;
    
}
.btn-container {
    margin-top: 80px;
    margin-right: 5px;
    float: right;
}
.btn-start {
    float: left;
}
.btn-reset {
    float: left;
    margin-right: 20px;
}
.btn-close {
    float: right;
    bottom: 0;
    right: 0;
    margin: 10px;
}
.btn-close:hover {
    cursor: pointer;
}


.form {
    width: 50%;
    margin: 0 auto;
}

.input-name, .input-email {
    width: 100%;
    height: 40px;
    background: #f5f5f5;
    border: none;
    border-radius: 2px;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 20px;
}
.input-image {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.imagearea {
    width: 200px;
    height: 200px;
}